* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #13b05e;
	border-color: #13b05e !important;
	border-radius: 10px !important;
	box-sizing: border-box;
	font-family: "Noto Sans Mono", monospace;
}

main {
	padding: 10px;
	margin: 10px auto;
	background-color: #ffffffee;
}

main,
.card {
	border: 5px solid;
	box-shadow: 3px 3px 3px #00000055;
}

footer {
	padding-top: 20px;
}

footer,
footer p {
	margin: 0 auto;
	padding-bottom: 0 !important;
	text-align: center;
}

header {
	margin: 0 auto;
	padding-bottom: 20px;
}

body {
	background-image: url("./Animal_Crossing_Leaf.png");
	background-size: 30%;
	background-position: top;
	margin: 20px;
}

li {
	padding: 0 !important;
}

#search {
	width: 100%;
	margin: 0 auto;
}

.title {
	text-align: center;
	text-transform: capitalize;
}

.card {
	padding: 10px;
	height: 350px;
	background-color: #13b05e11;
	font-size: 1.3em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
	cursor: pointer;
}

.card:hover {
	background-color: #ffffff;
}

.card div {
	width: 95%;
}

.card img {
	float: right;
}

.results-list {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 15px;
	list-style: none;
	overflow-y: scroll;
	max-height: 55vh;
}

.results-found {
	font-weight: bold;
	padding: 5px 0px;
	border-bottom: 2px solid;
	border-radius: 0 !important;
}

.tiny {
	font-size: 0.7em;
	text-align: center;
}

.on-top {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	top: 0px;
}

.on-bottom {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	bottom: 0px;
}

/* Style certain buttons as if they were links.
I totally just copy pasted this from my challenge. */
.linkButton {
	color: #118bee !important;
	display: inline-block !important;
	background: none !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	font-size: inherit !important;
	font-weight: bold !important;
	font-family: inherit !important;
}
